<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServerName" value="F3AD5559FCED55810302F6A810748665" />
    <add key="DataBase" value="1CEEC66F5CFEA998" />
    <add key="UserName" value="03C18C27ABBF7ED4" />
    <add key="Password" value="C3A25C3D1D73CE70" />
    <add key="LastUserID" value="B791F96086D0ADBD" />
    <add key="BackImg" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Lang" value="default" />
    <add key="LangType" value="简体中文(默认)|default,English|english" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>